html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #1D75B7, #663096);
  margin: 0;
  padding: 0;
  color: white;
}

a, a:hover, a:visited {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

nav {
  background: rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  z-index: 100;
}

footer {
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
}

.App {
  text-align: left;
}

.dashboard {
  text-align: center;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.currency {
  position: relative;
  top: 35%;
}

.refreshStatus {
  color: rgba(255, 255, 255, 0.5);
}
